$BLUE: #1405d9;
$PINK: #fb3f6b;

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: left;

  width: 100%;
  padding: 15vh;
  padding-top: 35px;

  h2 {
    width: 100%;
    color: $BLUE;
  }

  form,
  .form-input {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form,
  label,
  input {
    width: 100%;
    color: $BLUE;
  }

  form {
    width: 100%;
    height: 40vh;
    position: relative;

    border: 4px solid #fff;
  }

  .form-input {
    width: 100%;
    margin: 5px;
  }

  label {
    margin: 5px 0;
  }

  input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(203, 203, 203);

    transition: border 0.3s;
  }

  input:focus {
    border: 1px solid $BLUE;
    outline: none;

    transition: border 0.3s;
  }

  a {
    align-self: start;
    padding: 15px 0;
    color: $BLUE;
    text-decoration: none;
    font-weight: 600;
    font-size: 13px;
  }

  a:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  button {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px 0;
    height: 40px;
    width: 120px;

    border: none;
    background-color: $BLUE;
    color: #fff;
    font-size: 14px;
    border-radius: 2px;

    transition: background-color 0.2s;
  }

  button:hover {
    background-color: $BLUE;
    transition: background-color 0.2s;
  }
}
